{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if field.type != 'HiddenField' and label_visible %}
        <label for="{{ field.id }}" class="col-sm-3 control-label">{{ field.label.text }}</label>
    {% endif %}
    <div class="col-sm-5">
	{% if field.type == 'BooleanField' %}
	   <div class="checkbox">
	     <label>
               {{ field(**kwargs) }}
             </label>
	   </div>
        {% elif field.type == 'RadioField' %}
          {% for subitem in field %}
             <label class="radio-inline">
                {{ subitem }} {{ subitem.label }}
             </label>
          {% endfor %}
	{% else %}
           {{ field(class_='form-control', **kwargs) }}
	{% endif %}
    </div>
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
    </div>
{%- endmacro %}

{% macro render_nav_item(loc,title) -%}
<li {% if loc == request.url_rule.endpoint %}class="active"{% endif %}><a href="{{ url_for(loc) }}">{{ title }}</a></li>
{%- endmacro %}

{% macro render_base_nav_item(loc,endpoint,title,icon=none,class='',exceptions=[]) -%}
<li class="{{class}} {% if loc == request.blueprint and request.url_rule.endpoint not in exceptions %} active{% endif %}">
<a href="{{ url_for(endpoint) }}">{%- if icon %}<i class="fa {{icon}}"></i> {% endif %}{{ title }}</a>
</li>
{%- endmacro %}
