{% extends "base.html" %}

{% block title %}Person: {{ person.research_id }} {% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">{{ person.research_id }}  
            <a class="pull-right" href="{{ url_for('person.edit',research_id=person.research_id) }}">
                <i class="fa fa-edit"></i> Edit</a></div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <th>Clinical ID:</th>
                <td>{{ person.clinical_id }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td>{{ person.dob | format_date }}</td>
            </tr>
            <tr>
                <th>SSN:</th>
                <td>{{ person.ssn }}</td>
            </tr>
        </table>

        {% if person.studies | length > 0 %}

            <hr>
            <p class="lead">Imaging Session</p>

            <table class="table table-condensed">

            {% for study in person.orthanc_studies %}

                    <tr>
                        <th>{{ study.date }}</th>
                        <td>{{ study.description }}</td>
                        <td>{{ study.series_count }} scans</td>
                    </tr>

            {% endfor %}

            </table>

        {% else %}

        <p class="lead">No imaging sessions associated with {{ person.research_id }}</p>

        {% endif %}

    </div>
</div>

{% endblock %}
