{% extends "base.html" %}

{% block title %}Person: {{ person.research_id }} {% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('person.list') }}">Persons</a></li>
        <li class="active">{{ person.research_id }}</li>
    </ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">{{ person.research_id }}  
            <a class="pull-right" href="{{ url_for('person.edit',research_id=person.research_id) }}">
                <i class="fa fa-edit"></i> Edit</a></div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <th>Clinical ID:</th>
                <td>{{ person.clinical_id }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td>{{ person.dob | format_date }}</td>
            </tr>
            <tr>
                <th>SSN:</th>
                <td>{{ person.ssn }}</td>
            </tr>
        </table>

        {% if person.studies | length > 0 %}

            <hr>
            <p class="lead">Imaging Studies</p>

            <table class="table table-condensed">

            {% for study in person.studies %}

                    <tr>
                        <td><a href="{{ url_for('studies.view', orthanc_id=study.orthanc_id) }}"
                               role="button"
                               class="btn btn-sm btn-default"><i class="fa fa-eye"></i></a>
                        </td>
                        <th>{{ study.get().date }}</th>
                        <td>{{ study.get().description }}</td>
                        <td>{{ study.get().series_count }} scans</td>
                        <td width="50">
                            <a href="{{ url_for('studies.unassign',orthanc_id=study.orthanc_id )}}"
                               role="button"
                               class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i> Unassign</a>
                        </td>
                    </tr>

            {% endfor %}

            </table>

        {% else %}

        <p class="lead">No imaging sessions associated with {{ person.research_id }}</p>

        {% endif %}

    </div>
</div>

{% endblock %}
