{% extends "base.html" %}
{% import  "macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="active">Studies</li>
            </ol>
        </div>
    </div>

    <ul class="nav nav-tabs">
        {{ macros.render_nav_item('studies.action_required', 'Action Required') }}
        {{ macros.render_nav_item('studies.unsent', 'Unsent') }}
        {{ macros.render_nav_item('studies.unassigned', 'Unassigned') }}
        {{ macros.render_nav_item('studies.list', 'All') }}
    </ul>
    <br>

    {% block content %}
    {% endblock %}

{% endblock %}
