{% extends "base.html" %}

{% block title %}Incoming Studies{% endblock %}

{% block body %}
    <p class="lead">Incoming Studies</p>

    <div class="panel-group" id="studies">
    {% for study in studies %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#studies" href="#{{ study.id}}">
                         {{ study.patient.patient_id }}
                     </a>
                     {% if study.id in matches %}
                        <span class="label label-success">ID matches!</span>
                     {% endif %}
                     <span class="label label-default">{{ study.series[0].modality }}</span>
                     <span class="pull-right"><strong>{{ study.date | format_date }}</strong></span>
                </h4>
            </div>
            <div class="panel-collapse collapse out" id="{{ study.id }}">
                <div class="panel-body">
                    <!-- start panel body -->

                    <ul class="list-inline">
                        <li><strong>Name:</strong> {{ study.patient.name }}</li>
                        <li><strong>DOB:</strong>  {{ study.patient.dob | format_date }}</li>
                        <li><strong>ID:</strong>   {{ study.patient.patient_id }}</li>
                    </ul>

                    <hr>

                    <ol>
                    {% for scan in study.series %}
                        <li>
                    <div class="media">
                        <span class="pull-left">
                            {{ scan.number }}
                        </span>
                        <a class="pull-left" href="{{ scan.preview }}">
                            <img class="media-object" 
                                 src="{{ scan.preview}}"
                                 alt="{{ scan.description }}"
                                 width="50" height="50">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ scan.description }}</h4>
                            <strong>sequence:</strong> {{ scan.sequence }}
                        </div>
                    </div>
                        </li>

                    {% endfor %}
                    </ol>

                    <!-- / end panel body -->
                </div>
            </div>

            </td>
        </tr>
    </table>

    </div>
    </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
