{% extends "base.html" %}

{% block title %}Incoming Studies{% endblock %}

{% block body %}
    <p class="lead">Study: {{ study.get().date | format_date }}</p>
    <p>Assigned to {{ study.person.research_id | default('No one') }}</p>


    <h6>Scans</h6>
    {% for scan in study.get().series %}
        {% set img = url_for('proxy.img',instance_id=scan.mid_instance.id) %}

        <div class="media">
            <span class="pull-left">
                {{ scan.number }}
            </span>
            <a class="pull-left" href="{{ img }}">
                <img class="media-object" 
                     src="{{ img }}"
                     alt="{{ scan.description }}"
                     width="50" height="50">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ scan.description }}</h4>
                <strong>sequence:</strong> {{ scan.sequence }}
            </div>
        </div>

    {% endfor %}

{% endblock %}
