{% extends "base.html" %}
{% import  "macros.html" as macros %}

{% block title %}Add User{% endblock %}

{% block body %}
    <form role="form" class="form-horizontal"
          action="{{ url_for('user.add') }}" method="post">

        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                <p class="lead">Add User</p>
            </div>
        </div>


        {{ form.csrf_token }}
        {{ macros.render_field(form.name) }}
        {{ macros.render_field(form.username) }}
        {{ macros.render_field(form.email) }}
        {{ macros.render_field(form.role_admin) }}
        {{ macros.render_field(form.password) }}
        {{ macros.render_field(form.confirm) }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button type="submit" class="btn btn-info">Add User</button>
            </div>
        </div>
    </form>
{% endblock %}
