{% extends "base.html" %}
{% import  "macros.html" as macros %}

{% block title %}Login{% endblock %}

{% block body %}
    <p class="lead">Login</p>
    <form role="form" class="form-horizontal" action="{{ url_for('user.login') }}" method="post">
        {{ form.csrf_token }}
        {{ macros.render_field(form.username) }}
        {{ macros.render_field(form.password) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
{% endblock %}
