*.pyc
*.pyo
*.swp
*~

# Packages
*.egg
*.egg-info
dist
build/
eggs
bin
sdist
orthancpy

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
__pycache__
database.db

# Sphinx
docs/_build

# Virtual environments
env

.webassets-cache
*.sublime-*
